body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
}

.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 590px;
}

a {
    text-decoration: none;
    color: #252525;
}

.btn {
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 16px auto 0 auto;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    position: relative;
    background: #00b6e8;
    color: #fff;
}

.btn:disabled {
    opacity: 0.5;
}

.btn:hover:enabled {
    background: #fff;
    border-color: #00b6e8;
    text-decoration: none;
    color: #00b6e8;
}

.btn:focus {
    outline: 0;
    font-weight: 700;
    border-width: 2px;
}

.center {
    text-align: center;
}

.nav {
    max-width: 768px;
    margin: 8px auto 0 auto;
}

.nav > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    margin: 0;
}

.user-nav {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
}

.nav-item {
    padding: 16px 8px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item:hover, .active {
    background: #00b6e8;
    color: #fff;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 16px;
}

li {
    list-style-type: none;
    padding: 16px 16px 0 16px;
    text-decoration: none;
}

.li > a:hover {
    background-color: green;
}

.avatar {
    height: 140px;
    border-radius: 25px;
    margin-right: 16px;
}

.avatar-middle {
    height: 120px;
    border-radius: 25px;
}

.nav-avatar {
    height: 36px;
    border-radius: 20px;
    margin: 0 8px 0 16px;
}

.block-container {
    width: 100%;
    display: flex;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    flex-direction: column;
}

.card-header {
    font-weight: bold;
    background-color: #f2f2f7;
    padding: 16px;
    border-bottom: 1px solid #dad7d7;
}

.block-content{
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.question-card-left {
    flex: 1 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.question-card-short {
    margin-bottom: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.question-card-question {
    display: flex;
    flex-direction: column;
    flex: 2 0;
    padding: 0 16px 0 24px;
    border-left: 1px solid #dad7d7;
}

.question-card-question > h3 {
    margin-top: 0;
}

.question-card-button {
    display: flex;
    justify-content: center;
    border: 1px solid #00b6e8;
    padding: 8px;
    border-radius: 4px;
    color: #00b6e8;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.question-card-button:hover {
    background-color: #00b6e8;
    color: #fff;
}

.dashboard-nav {
    border-bottom: 1px solid #dad7d7;
    display: flex;
}

.dashboard-nav > div {
    flex: 1 0;
    text-align: center;
    padding: 16px;
    font-weight: 500;
    cursor: pointer;
}

.dashboard-nav > div:first-child {
    border-right: 1px solid #dad7d7;
}

.dashboard-nav-active {
    background-color: #f2f2f7;
    color: #00b6e8;
}

hr {
    border: 1px solid #00b6e8;
    margin-top: 0;
}

.container-nav {
    border-bottom: 1px solid #dad7d7;
}

.question-content {
    padding: 16px;
}

.new-question {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.new-question > span {
    text-align: center;
    margin: 16px 0;
    font-weight: bold;
}

.new-question > span::before,
.new-question > span::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #dad7d7;
    width: calc(50% - 28px);
    transform: translateY(-6px);
}

.new-question > span::before {
    margin: 0 16px 0 0;
}

.new-question > span::after {
    margin: 0 0 0 16px;
}

.question-length {
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    color: #C3392A;
}

.new-question-option {
    padding: 8px 12px;
    border: 1px solid #dad7d7;
    border-radius: 2px;
    font-size: 16px;
}

.question-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.question-options > div {
    margin-bottom: 8px;
}

.question-options > div > label {
    cursor: pointer;
    margin-left: 4px;
}

.answers {
    display: flex;
    flex-direction: column;
}

.answers > div {
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 24px;
    background-color: #f2f2f7;
    border: 1px solid #dad7d7;
}

.answers > div:last-child {
    margin-bottom: 16px;
}

.answers > div > span {
    font-weight: bold;
}

.answers > .selected-answer {
    background-color: rgba(0, 182, 232, 0.08);
    color: #00b6e8;
    border-color: #00b6e8;
    position: relative;
}

.progress-bar {
    text-align: center;
    margin-top: 16px;
}

.line {
    position: relative;
    background: #dad7d7;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 28px;
}

.line > span {
    position: absolute;
    color: #fff;
    top: 5px;
}

.filled {
    background-color: #00b6e8;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
}

.vote {
    position: absolute;
    right: -22px;
    top: -22px;
    background: #ffc42d;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.error-block {
    padding: 16px;
}

.leader-block {
    flex: 2 0;
    border-left: 1px solid #dad7d7;
    border-right: 1px solid #dad7d7;
    padding: 0 16px;
}

.leader-block:first-child {
    display: flex;
    justify-content: center;
    border-left: none;
    border-right: none;
    padding-left: 0;
    flex: 1 0;
}

.leader-block:last-child {
    padding-right: 0;
    flex: 1 0;
    border-left: none;
    border-right: none;
}

.stats-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dad7d7;
}

.stats-line:last-child {
    padding-bottom: 0;
    border: none;
}

.active-leader {
    border-color: #00b6e8;
}

.active-leader > .block-content {
    background-color: rgba(0, 182, 232, 0.08);
}

.active-leader > .card-header {
    background-color: rgba(0, 182, 232, 0.2);
    border-color: rgba(0, 182, 232, 0.8);
}

.points {
    width: 48px;
    height: 48px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: #00b6e8;
    color: #fff;
    margin: 0 auto;
}
