body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #252525;
}

.btn {
    text-transform: uppercase;
    margin: 35px auto;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 250px;
    position: relative;
}

.btn:hover {
    border-color: rgba(0,0,0,.5);
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    font-weight: 700;
    border-width: 2px;
}

.center {
    text-align: center;
}

.active {
    background: #00b6e8;
    color: #fff;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.nav > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    margin: 0;
}

.nav-item {
    padding: 16px;
    margin-right: 8px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item:hover {
    background: #00b6e8;
    color: #fff;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 16px;
}

li {
    list-style-type: none;
    padding: 16px 16px 0 16px;
    text-decoration: none;
}

.li > a:hover {
    background-color: green;
}

.avatar {
    height: 120px;
    border-radius: 25px;
    margin: 16px 16px 16px 0;
}

.card-container {
    width: 100%;
    max-width: 590px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    cursor: pointer;
    flex-direction: column;
}

.question-card-header {
    font-weight: bold;
    background-color: #f2f2f7;
    padding: 16px;
    border-bottom: 1px solid #dad7d7;
}

.question-card-content {
    padding: 16px;
    display: flex;
    align-items: center;
}

.question-card-left {
    flex: 2 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.question-card-left > span {
    height: 100%;
    min-height: 120px;
    border-left: 1px solid #dad7d7;
}

.question-card-short {
    margin-bottom: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.question-card-question {
    flex: 3 0;
    padding: 0 16px;
}

.question-card-question > h3 {
    margin-top: 0;
}

.question-card-button {
    display: flex;
    justify-content: center;
    border: 1px solid #00b6e8;
    padding: 8px;
    border-radius: 4px;
    color: #00b6e8;
}

.question-card-button:hover {
    background-color: #00b6e8;
    color: #fff;
}

.dashboard-nav {
    border-bottom: 1px solid #dad7d7;
    display: flex;
}

.dashboard-nav > div {
    flex: 1 0;
    text-align: center;
    padding: 16px;
    font-weight: 500;
}

.dashboard-nav > div:first-child {
    border-right: 1px solid #dad7d7;
}

.dashboard-nav-active {
    background-color: #f2f2f7;
    color: #00b6e8;
}

hr {
    border: 1px solid #00b6e8;
    margin-top: 0;
}
